openapi: 3.1.0
info:
  title: Activepieces Connections Users API
  version: 1.0.0
  description: REST API for Activepieces, the open-source no-code automation platform. Manage flows, connections, projects, users, and workflow executions programmatically.
  contact:
    name: Activepieces Support
    url: https://www.activepieces.com/docs/
  x-generated-from: documentation
servers:
- url: https://cloud.activepieces.com/api/v1
  description: Activepieces Cloud API
- url: https://{yourDomain}/api/v1
  description: Self-hosted Activepieces instance
  variables:
    yourDomain:
      default: localhost:3000
security:
- BearerAuth: []
tags:
- name: Users
  description: User management
paths:
  /users:
    get:
      operationId: listUsers
      summary: Activepieces List Users
      description: List all users in the platform
      tags:
      - Users
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
        description: Number of results
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{id}:
    post:
      operationId: updateUser
      summary: Activepieces Update User
      description: Update a user's information
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: User ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteUser
      summary: Activepieces Delete User
      description: Delete a user from the platform
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: User ID
      responses:
        '204':
          description: User deleted
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    User:
      type: object
      description: An Activepieces platform user
      properties:
        id:
          type: string
          description: User ID
          example: user-abc123
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        email:
          type: string
          format: email
          description: User email
          example: user@example.com
        firstName:
          type: string
          description: First name
          example: Jane
        lastName:
          type: string
          description: Last name
          example: Smith
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - SHADOW
          description: User status
        platformRole:
          type: string
          enum:
          - ADMIN
          - MEMBER
          description: Platform role
    UpdateUserRequest:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        platformRole:
          type: string
          enum:
          - ADMIN
          - MEMBER
    UserList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from the Activepieces admin console, passed as a Bearer token
