openapi: 3.1.0
info:
  title: Activepieces Connections Flow Runs API
  version: 1.0.0
  description: REST API for Activepieces, the open-source no-code automation platform. Manage flows, connections, projects, users, and workflow executions programmatically.
  contact:
    name: Activepieces Support
    url: https://www.activepieces.com/docs/
  x-generated-from: documentation
servers:
- url: https://cloud.activepieces.com/api/v1
  description: Activepieces Cloud API
- url: https://{yourDomain}/api/v1
  description: Self-hosted Activepieces instance
  variables:
    yourDomain:
      default: localhost:3000
security:
- BearerAuth: []
tags:
- name: Flow Runs
  description: Access execution history and run details
paths:
  /flow-runs:
    get:
      operationId: listFlowRuns
      summary: Activepieces List Flow Runs
      description: List execution history for flows
      tags:
      - Flow Runs
      parameters:
      - name: projectId
        in: query
        required: true
        schema:
          type: string
        description: Project ID
      - name: flowId
        in: query
        schema:
          type: string
        description: Filter by flow ID
      - name: status
        in: query
        schema:
          type: string
          enum:
          - RUNNING
          - SUCCEEDED
          - FAILED
          - TIMEOUT
          - STOPPED
        description: Filter by run status
      - name: limit
        in: query
        schema:
          type: integer
        description: Number of results
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor
      responses:
        '200':
          description: Paginated list of flow runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowRunList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /flow-runs/{id}:
    get:
      operationId: getFlowRun
      summary: Activepieces Get Flow Run
      description: Retrieve details of a specific flow execution run
      tags:
      - Flow Runs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Flow run ID
      responses:
        '200':
          description: Flow run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowRun'
        '404':
          description: Flow run not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FlowRunList:
      type: object
      description: Paginated list of flow runs
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FlowRun'
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
    FlowRun:
      type: object
      description: A flow execution run
      properties:
        id:
          type: string
          description: Flow run ID
          example: run-abc123
        created:
          type: string
          format: date-time
          description: Run creation timestamp
        updated:
          type: string
          format: date-time
          description: Last update timestamp
        projectId:
          type: string
          description: Project ID
        flowId:
          type: string
          description: Flow ID
        status:
          type: string
          enum:
          - RUNNING
          - SUCCEEDED
          - FAILED
          - TIMEOUT
          - STOPPED
          description: Run status
          example: SUCCEEDED
        startTime:
          type: string
          format: date-time
          description: Run start time
        finishTime:
          type: string
          format: date-time
          description: Run finish time
        duration:
          type: integer
          description: Execution duration in milliseconds
          example: 1234
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from the Activepieces admin console, passed as a Bearer token
