openapi: 3.1.0
info:
  title: Activepieces Connections Worker Machines API
  version: 1.0.0
  description: REST API for Activepieces, the open-source no-code automation platform. Manage flows, connections, projects, users, and workflow executions programmatically.
  contact:
    name: Activepieces Support
    url: https://www.activepieces.com/docs/
  x-generated-from: documentation
servers:
- url: https://cloud.activepieces.com/api/v1
  description: Activepieces Cloud API
- url: https://{yourDomain}/api/v1
  description: Self-hosted Activepieces instance
  variables:
    yourDomain:
      default: localhost:3000
security:
- BearerAuth: []
tags:
- name: Worker Machines
  description: Worker queue metrics
paths:
  /worker/queues:
    get:
      operationId: getWorkerQueueMetrics
      summary: Activepieces Get Worker Queue Metrics
      description: Retrieve queue metrics for worker machines
      tags:
      - Worker Machines
      responses:
        '200':
          description: Queue metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMetrics'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    QueueMetrics:
      type: object
      description: Worker queue metrics
      properties:
        queues:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Queue name
                example: one-time
              waiting:
                type: integer
                description: Jobs waiting
                example: 5
              active:
                type: integer
                description: Jobs active
                example: 2
              completed:
                type: integer
                description: Jobs completed
                example: 1000
              failed:
                type: integer
                description: Jobs failed
                example: 3
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from the Activepieces admin console, passed as a Bearer token
